/*************************************************Generic **************************************************************/
.root-container{
        
        background-color: black;
}

.button{
        font-size: 1.5em;
        color: white;
        font-family: "Helvetica";
        border-radius: 4px ;
        border: 1em;
        border-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
        transition-property: background-color;
        transition-duration: 500ms;
        transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button:hover {
        background-color: #52B2BF;
        /* box-shadow: rgba(247, 246, 246, 0.5) 0 3px 8px; */
        
}

.button-container{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        margin-right: 10%;
        

}

.slowAppear{
        animation: elementAppear 1s forwards;
        animation-play-state: paused;  /* Turn on in javascript code  when required*/
}

.slowDisappear{
        animation: elementDisappear 500ms forwards;
        animation-play-state: paused;  /* Turn on in javascript code  when required*/
}

/**************************************************Keyframes ***********************************************************/

@keyframes moveToLeft{
        0%{
                margin-left: 50%;
                margin-right: 50%;
                margin-top: 50%;
                margin-bottom: 50%;
                font-size: 3em;
        }
       
        100%{
                margin-right: 10%;
                margin-left: 0%;
                
                
        }
}


@keyframes elementAppear{
        0%{
                opacity: 0;
        }

        100%{
                opacity: 1;
        }
}

@keyframes elementDisappear{
        

        100%{
                display: none;
        }
}

@keyframes moveToCenter{
        
        100%{
                margin-top: 100px;
        }
}

/*************************************************Search Button*******************************************************/





.search-button{
        animation-name: moveToLeft; 
        animation-duration: 2000ms;
        animation-fill-mode: forwards;
        
        margin-right: 10%;
        
}

#sb1{
        background-color: #007500;
}









/* ****************************************Algorithm type button************************************************************* */

.algorithm-type-button{
        
        background-color:#f44336;
        animation: moveToCenter 1s;
        animation-fill-mode: forwards;
        animation-play-state: paused; /* Turn on in javascript code  when required*/
        

}



.slowAppear{
        animation: elementAppear 1s forwards;
        animation-play-state: paused;  /* Turn on in javascript code  when required*/
}

/* ****************************************Search type button************************************************************* */
.search-type-button{
        background-color: rgb(248, 114, 4);
}

/* ****************************************Sort type button************************************************************* */
.sort-type-button{
        background-color: rgb(162, 189, 45);
}

/* ****************************************Hash type button************************************************************* */
.hash-type-button{
        background-color: #349769;
}




/* ********************************************* Search Page ******************************* */
#search-page{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: transparent;
}

