/*************************************************Generic **************************************************************/
.button{
        font-size: 1.5em;
        color: white;
        font-family: "Helvetica";
        border-radius: 4px ;
        border: 1em;
        border-color: white;
        transition-property: background-color color;
        transition-duration: 500ms;
        transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-container{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        margin-right: 10%;
        

}

/**************************************************Keyframes ***********************************************************/

@keyframes moveToLeft{
        0%{
                margin-left: 50%;
                margin-right: 50%;
                margin-top: 50%;
                margin-bottom: 50%;
                font-size: 3em;
        }
       
        100%{
                margin-right: 10%;
                margin-left: 0%;
                
                
        }
}


@keyframes elementAppear{
        0%{
                opacity: 0;
        }

        100%{
                opacity: 1;
        }
}


@keyframes moveToCenter{
        
        100%{
                margin-top: 100px;
        }
}

/*************************************************Search Button*******************************************************/


.search-algorithm{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: black;
}

#search-button{
        animation-name: moveToLeft;
        animation-duration: 2000ms;
        animation-fill-mode: forwards;
        background-color: rgb(17, 167, 17);
        margin-right: 10%;
        transition-property: background-color ;
        transition-duration: 1000ms;
        
}

#search-button:hover{
        background-color: #FF6347;
}









/* ****************************************Algorithm type button************************************************************* */

.algorithm-type-button{
        
        background-color: red;
        animation: moveToCenter 1s;
        animation-fill-mode: forwards;
        animation-play-state: paused;
        

}

.button:hover {
        background-color: #52B2BF;
        
}

.animation{
        animation: elementAppear 1s forwards;
        animation-play-state: paused;
}

/* ****************************************Search type button************************************************************* */

.search-type-button{
        background-color: #9694db;
}